.ira-request-file-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}


.request-form-modal {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2rem;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.9);
    max-width: 600px;
    animation: fadeIn 0.3s ease-out;
    transition: all 0.5s ease
}



/* Pop-in Animation */
@keyframes fadeIn {
    from {
        transform: scale(0.9);
        opacity: 0
    }

    to {
        transform: scale(1);
        opacity: 1
    }
}


.ira-request-file-modal .request-form-modal h3 {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    color: #2f2f2f;
    margin-bottom: 1.5rem;
    letter-spacing: 1px;
}


.ira-request-file-modal .request-form-modal .request-input-one {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 1rem;
}

.ira-request-file-modal .request-form-modal .request-input-one input {
    width: 240px; 
    padding: 0.5rem; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    outline: none;
}

.ira-request-file-modal .request-form-modal .file_name input {
    width: 500px;
    height: 40px;
    border-radius: 8px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid #ccc;
}

.ira-request-file-modal .request-form-modal .request-input-one input:focus {
    border: 3px solid #98ba4e;
}

.ira-request-file-modal .request-form-modal .file_name input:focus {
    border: 3px solid #98ba4e;
}



.ira-request-file-modal .request-form-modal .request-modal-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.ira-request-file-modal .request-form-modal .request-btn,
.ira-request-file-modal .request-form-modal .cancel-btn {
    border-radius: 5px;
    cursor: pointer;
    padding: 0.6rem 1.4rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

.ira-request-file-modal .request-form-modal .request-btn {
    background-color: #6e8a32;
    width: 200px;
    border: none;
    color: #fff;
}

.ira-request-file-modal .request-form-modal .cancel-btn {
    background-color: #b32f2f;
    width: 200px;
    border: none;
    color: #fff;
}

.ira-request-file-modal .request-form-modal .request-btn:hover {
    background-color: #8db94a;
    color: #444;
}

.ira-request-file-modal .request-form-modal .cancel-btn:hover {
    background-color: #d94343;
    color: #444;
}
