.files-returned-page {
    padding: 20px;
    padding-top: 15vh;
    margin-left: 250px;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.files-returned-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.files-returned-title {
    font-size: 24px;
    font-weight: 600;
    color: #2c3e50;
}

.files-returned-header .files-returned-input {
    width: 300px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border 0.3s;
    box-shadow: 0 0 5px rgba(152, 186, 78, 0.5);
}


.files-returned-header .files-returned-input:focus {
    border: 2px solid #98ba4e;
}

.files-returned-page table {
    width: 100%;
    border-collapse: collapse;
    border-left: none;
    border-radius: 12px;
    overflow: hidden; /* keep rounded corners clean */
    box-shadow: 0 6px 18px (0, 0, 0, 0.1);
    background-color: #fff
}


.files-returned-page th {
    background-color: #98ba4e;
    color: #fff;
    text-align: left;
    padding: 15px;
    font-size: 16px;
    letter-spacing: 0.5px;
    border: none;
}

.files-returned-page td {
    padding: 14px 16px;
    border-bottom: 2px solid #ddd;
    font-size: 14px;
    color: #333;
}


/* Select every table row that is in an even position */
.files-returned-page tr:nth-child(even) {
    background-color: #f8fbe9;
}


.files-returned-page tr:hover {
    background-color: #fff7ec;
    transition: background 0.3s ease;
    cursor: pointer;
}

.files-returned-page .no-taken td {
    text-align: center;
    width: 100%;
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #b0841c;
    background-color: #fdf6e3; /* Light subtle background */
    border-top: 2px solid #ddd;
}

.files-returned-page td:nth-child(6) {
    font-weight: 600
}

.files-returned-page td:nth-child(6)[data-status="Returned"] {
    color: #2e7d32;
}

.files-returned-page td:nth-child(6)[data-status="Late Return"] {
    color: red;
}

/* .files-returned-page td:nth-child(5)[data-status="Archive"] {
    color: #757575;
} */

.files-returned-page td:nth-child(4)[data-status="Admin"] {
    color: #98ba4e;
    font-weight: 650;
}


.actions-returned {
    display: flex;
    /* align-items: center; */
    gap: 8px;
    /* background-color: blue; */
}

.icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background: none;
    cursor: pointer;
    padding: 4px;
    border: none;
}

.icon-btn:hover {
    transform: scale(1.2);
    color: #98ba4e;
}

.icon-btn.view:hover {
    color: blue
}

.icon-btn.returned:hover {
    color: #98ba4e;
}


.icon-btn.alert:hover {
    color: yellow
}
