.registration-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: blue; */
    /* background: rgba(176, 132, 38, 0.9); */
    /* background: linear-gradient(135deg, #b0841c, #98ba4e); */
    background: linear-gradient(135deg, #634603);
    backdrop-filter: blur(12px);
    height: 100vh;
}

.registration-pic {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #98ba4e;
    transition: all 0.3s ease;
    /* margin-bottom: 3vh; */
}

.registration-pic:hover {
    cursor: pointer;
    transform: scale(1.03);
}

/* .registration-page .hello-user {
    font-size: 40px;
    font-weight: 600;
    color: white;
} */


.registration-page .hello-user {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    letter-spacing: 1px;
    margin: 20px 0;
}


.registration-page h1 {
    color: #fff;
    font-size: 40px;
}

.registration-page p {
    color: #ffff;
    font-weight: 700;
}

form {
    /* background-color: red; */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

form input {
    width: 500px;
    padding: 10px;
    border: 3px solid #98ba4e;
    border-radius: 8px;
    outline: none;
}

form input:focus {
    border: 3px solid #98ba4e;
}

form button {
    width: 100%;
    border: none;
    padding: 10px;
    justify-content: center;
    border-radius: 6px;
    color: #fff;
    background-color: #98ba4e;
    transition: background-color 0.3s ease-in-out;
}

/* form .btn-submit {
    background-color: #98ba4e;
} */

form button:hover {
    background-color: #add654;
    color: #333;
}
