:root {
    --gold: #d19e27;
    --green: #98ba4e;
    --dark-bg: #1a1a1a;
    --white: #f9f9f9;
    --lightGold: #f5d76e;
    --shadow: rgba(0, 0, 0, 0.4);
}

.registration-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(12px);
    height: 100vh;
}

.registration-page-left {
  background-image: url(../../assets/images/registration.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.registration-page-left::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color:rgba(0, 0, 0, 0.6);
}

.registration-page-left h1,
.registration-page-left p {
  position: relative;
  z-index: 2;
  text-align: center;
  color: var(--white);
}

.registration-page-left h1 {
  /* margin-top: 40%; */
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 2px;
  color: var(--green);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.registration-page-left p {
  font-size: 50px;
  font-weight: 600;
  color: var(--gold);
  /* margin-top: 10px; */
}


.registration-form {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(135deg, #9c7007, #634603);
  backdrop-filter: blur(12px);
  /* backdrop-filter: blur(16px); */
  /* border-left: 2px solid rgba(255, 255, 255, 0.05); */
  border-left: 5px solid #82a33a;
}


.registration-page form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 80%;
    max-width: 420px;
}

.registration-page form input {
  padding: 12px;
  border: 2px solid transparent;
  background-color: rgba(255, 255, 255, 0.15);
  color: #f9f9f9;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
}

.registration-page form input::placeholder {
  color: rgba(255, 255, 255, 0.7)
}

.registration-page form input:focus {
  border: 3px solid #82a33a;
}

.registration-page .passwordAndEye {
  /* width: 100%; */
  /* background-color: red; */
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1
}

.registration-page .eyeIcon {
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 2;
  transition: all 0.3s
}

.registration-page .eyeIcon:hover {
  cursor: pointer;
}

.registration-page .passwordAndEye input {
  width: 100%;
}

.registration-page form button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 1.05rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #fff;
  background: linear-gradient(135deg, #b0841c, #98ba4e);
  /* background: var(--lightGold); */
  cursor: pointer;
  transition: all 0.3s ease;
}


.registration-page form button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(176, 132, 28, 0.5);
  background: linear-gradient(135deg, #98ba4e, #b0841c);
}

.registration-form .already {
    color: #f8e18c;
    margin-top: 2vh;
    font-size: 18px;
}

.registration-form .already:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

/* RESPONSIVENESS */
@media (max-width: 900px) {
  .registration-page {
    flex-direction: column;
  }

  .registration-page-left {
    display: none;
  }

  .registration-form {
    width: 100%;
    height: 100vh;
  }
}


