.header {
    padding: 12px;
    background-color: #98ba4e;
    /* height: 60px; */
    /* width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 3vw;
    border-bottom-right-radius: 20px;
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    z-index: 1;
}

.header-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-profile:hover {
    cursor: pointer;
}

.header .chevron-down {
    color: white;
    gap: 0;
    margin: 0;
    padding: 0;
}

.header .header-profile .header-email {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* .header .profile-pic {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
    border: 3px solid #b0841c;
} */

.header .profile-text {
    color: white;
    font-weight: 600;
}


.notification-bell {
    position: relative;
    color: white;
    font-size: 20px;
    margin-left: 10px;
}

.bell-icon {
    color: yellow
}

.badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.notification-dropdown {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    color: #333;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 10;
    padding: 10px 0;
    opacity: 0;
}

.notification-bell:hover .notification-dropdown {
    display: block;
    opacity: 1;
    cursor: pointer;
}

/* .notification-dropdown {
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: white;
    border: 1px solid #ccc;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 10;
    padding: 10px 0;
    display: none;
    opacity: 0;
}

.bell-icon:hover .notification-dropdown {
    display: block;
    cursor: pointer;
    opacity: 1;
} */

.notification-item {
    padding: 8px 15px;
    cursor: pointer;
    transition: background 0.2s;
}

.notification-item:hover {
    background-color: #f0f0f0;
}

